::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.plain__btn {
  background: none;
  border: none;
  color: #aaa;
  margin: 0 15px;

  &:hover {
    color: #fff;
  }
}

.bg__btn {
  padding: 12px 30px;
  border-radius: 50px;
}

.form-control:focus {
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}
